﻿@charset "utf-8";
body{
	background:#DCDCDC;
	
}

label{
	background:#A9A9A9;
	margin-top:0px;
	border-radius: 2px;
	
}
#szam{
	height:19px;
	background:#D3D3D3;
	border:1px Gray solid;
	border-radius: 2px;
}
#nomargin{
	margin-top:0px;
	padding:10px;
}
#x1,#x2{
	padding:10px;
}
div#head{
	background-image:url("wood-texture.jpg");
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border:3px Gray solid;
	text-align:center;
	width:75%;
	height:30%;
	padding:0px 0px ;
	margin:10px 10% 0px 10%;
	border-radius: 2px;
}
div#foot{
	background-image:url("wood-texture.jpg");
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border:3px Gray solid;
	text-align:center;
	width:75%;
	height:30%;
	padding:0px 0px ;
	margin:0px 10% 10px 10%;
	border-radius: 2px;
}
div#body{
	border-left:3px Gray solid;
	border-right:3px Gray solid;
	width:75%;
	height:30%;
	padding:0px 0px ;
	margin:0px 10%;
	background:#D3D3D3;
}
img{
	height:50%;
	width:50%;
	vertical-align:center;
	padding-top:20px;
}
button{
  background-color:#A9A9A;
  border:1px solid Gray;
  border-radius: 8px;
 }

button:hover{
  background-color:#A9A9A9;
  border-color:Gray;
  box-shadow:0px 2px 10px 5px #C0C0C0;
}

button:active {
  transform: translateY(1px);
  border:1px solid Gray;
}
button:visited{
	border:1px solid Gray;
}
#sign{
	margin:150px 10px 15px 10px;
	font-size:15px;
	text-align:right;
	vertical-align:bottom;
	color:#D3D3D3;
}
